

<section role="main" class="page-wrapper">



<section id="dashboard">
 		 
    <h1> Account Settings</h1>			
            
 
            
 
                                  
			
		</section>




<article class="content-box minimizer col-2 salesboard-stat-block">
			<header>
				<h2 style="padding-right: 90px; ">Getting Started</h2>
            <a href="#" class="content-box-minimizer" title="Toggle Content Block" style="display: block; left: 126.01851844787598px; ">Toggle</a></header>



			
			<!-- User Profile - vCard -->
			<section id="hcard-Kevin-Glenn-Bates" style="display: block; ">
				
 
			
                

<ul class="stats-summary">
					<li>
						<p> 1) Connect your Salesforce.com Account: (if you have one)</p>

<img alt="Sf-admin" src="/images/sf-admin.png" style="margin-top: 30px; margin-bottom: 30px;border-color: transparent; border: none; -webkit-box-shadow: none; box-shadow: none; -moz-box-shadow: none;">  


<input type="checkbox" name="outside-us" id="salesforce-connected" value="true">
<br />
<p class="sf-no-use"> I don't use Salesforce.com</p>

					</li>
					<li>


						<p> 2. Upload Your Profile Photo </p>
					</li>
					<li>
						<p> 3) Invite your Team Members and Set up Office Locations</p>
					</li>
				</ul>                                                          
                                                                             


<a href="#" style="font-size: 20px; width: 200px;" class="btn-large btn btn-the-salmon-dance-3" title="button">
I'm ready, let's go!
</a>					 


	 
				
			</section>
			
		</article>


</section>
