

<section role="main" class="page-wrapper">



<section id="dashboard">
 		 
			
            
 
            
 
                                  
			
		</section>




<article class="content-box minimizer col-2 salesboard-stat-block">
			<header>
				<h2 style="padding-right: 90px; ">Getting Started</h2>
            <a href="#" class="content-box-minimizer" title="Toggle Content Block" style="display: block; left: 126.01851844787598px; ">Toggle</a></header>



			
			<!-- User Profile - vCard -->
			<section id="hcard-Kevin-Glenn-Bates" style="display: block; ">
				
 
			
                

<ul class="stats-summary">
					<li>


						<p> Salesforce account successfully connected </p>
					</li>
				</ul>                                                          
 

<% if (@user) && (@user.type.eql?"Manager") %>
<a href="/settings/<%= @user.id %>" style="font-size: 20px; width: 200px;" class="btn-large btn btn-the-salmon-dance-3" title="button">
I'm ready, let's go!
</a>
<% elsif (@user) && (@user.type.eql?"SalesPerson") %>
<a href="/goals/<%= @user.id %>" style="font-size: 20px; width: 200px;" class="btn-large btn btn-the-salmon-dance-3" title="button">
I'm ready, let's go!
</a>					 
<% end %>

	 
				
			</section>
			
		</article>


</section>
