
<!doctype html>
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
	<title>
Salesboard Admin 
</title>
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<!-- Icons -->
	<link rel="shortcut icon" href="/favicon.ico">
	<link rel="apple-touch-icon" href="/apple-touch-icon.png">
	


<%= stylesheet_link_tag "screen.css", "colors.css", "jquery.muon.css", "jquery.tipsy.css", "jquery.wysiwyg.css", "jquery.datatables.css", "jquery.nyromodal.css", "jquery.datepicker.css", "jquery.fileinput.css", "jquery.fullcalendar.css", "jquery.visualize.css", "jquery.snippet.css" %>	
 
	
	<!-- Google WebFonts -->
	<link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono|Open+Sans:400,400italic,700,700italic&amp;v2' rel='stylesheet' type='text/css'>
	
	<!-- Modernizr adds classes to the <html> element which allow you to target specific browser functionality in your stylesheet -->
	<script src="js/libs/modernizr-1.7.min.js"></script>

<style>
.content-box.salesboard-stat-block .progress-bar.individual-stat
        {
float:left;
margin-bottom:0px;
}

.content-box.salesboard-stat-block .progress-bar.individual-stat
        {
float:left;
}

.content-box.salesboard-stat-block .stats-count
{
position:absolute;
margin-left:200px;
color:#549929;

}
.content-box.salesboard-stat-block .stats-count.second {
margin-left: 270px;
color:#993B28;
}
.content-box.salesboard-stat-block .stats-summary li{
border: none;
background: white;
}

.content-box section .stats-summary p.stat-title {
position:absolute;
margin-top: -18px;
 
}

.content-box section .stats-summary p.stat-title.header-title {

margin-left: 250px;
 
}

.content-box section .stats-summary p.stat-title.header-title.second {

margin-left: 320px;
 
}

.content-box section .stats-summary li.first {
min-height: 12px;
}
</style>

	
</head>
<body>

	<!-- Muon jQuery Sticky Dropdown Menu 1.0 -->
	<header class="muon">
	
		<div class="navigation-wrapper">
		
			<!-- Logo -->
			<a href="/" class="muon-logo" title="Back to homepage">Your logo</a>
			
			<!-- Root navigation block -->
			<nav style="float:left;height: 40px;">
			
				<!-- Root menu level -->
				<ul>
					
					<!-- Root menu items -->
 					 
					
					<!-- Root menu item -->
					<li><a href="#" class="muon-no-submenu">Logout</a>
	 
						
					</li>
	 
	
				
				<!-- End of root menu level -->
				</ul>
				
			<!-- End of root navigation block -->
			</nav>
			
			<!-- User list -->
			<ul class="muon-user-list">
				<li class="muon-user-data">Welcome, <a href="#">Jorge</a></li>
				<li><a class="muon-signup" title="Messages" href="#">Messages</a></li>
				 
			</ul>
			
		</div>
	
	</header>
	<!-- End of Muon Header -->		
	
	<!-- Main Content -->
	<section role="main" class="page-wrapper">
	
		<!-- Dashboard -->
		<section id="dashboard">
 		 
			
    <h1> My Progress Dashboard</h1>        
            
            
			<!-- Nav Shortcuts -->
			<ul class="shortcuts" style="display:none;">
				<li class="shortcut-contacts"><a href="" title="">New Orders </a> <span class="small-notification">3</span></li>
				<li class="shortcut-sales"><a href="" title=""> Total $10,000</a>  </li>

				<li class="shortcut-articles"><a href="" title="">Messages</a></li>
 			</ul>
			<!-- /Nav Shortcuts -->
			
		</section>
		<!-- /Dashboard -->



<article class="content-box minimizer col-3 salesboard-stat-block">
			<header>
				<h2 style="padding-right: 90px; "> Prospecting</h2>
			<a href="#" class="content-box-minimizer" title="Toggle Content Block" style="display: block; left: 133.01851844787598px; ">Toggle</a></header>
			
			<!-- User Profile - vCard -->
			<section id="hcard-Kevin-Glenn-Bates"  style="display: block; ">
				
 
			
				<!-- Stats Summary -->
				<ul class="stats-summary">
                
                <li class="first">
                
               <p class="stat-title header-title"> Goal</p>     

               <p class="stat-title header-title second"> Actual</p>     

                
                </li>
                
                
					<li>
                    
                    
               <p class="stat-title"> New Prospect: Lead</p>     
 				<div class="progress-bar green medium individual-stat">
					<div style="width:100%;">
						 
					</div>
				</div>
				<!-- /Progress Bar -->


                    				<!-- Progress Bar -->
				<div class="progress-bar red medium individual-stat">
					<div style="width:40%;">
						<span>80<sup>%</sup></span>
					</div>
				</div>
				<!-- /Progress Bar -->
                    
						<strong class="stats-count first">17</strong>
						<strong class="stats-count second">20</strong>
                        
 						<a href="#" class="button stats-view tooltip" title="View new registrations">View</a>
					</li>
                    
 
 					<li>
                    
                    
               <p class="stat-title"> New Prospect: Contact</p>     
 				<div class="progress-bar green medium individual-stat">
					<div style="width:100%;">
						 
					</div>
				</div>
				<!-- /Progress Bar -->


                    				<!-- Progress Bar -->
				<div class="progress-bar red medium individual-stat">
					<div style="width:40%;">
						<span>80<sup>%</sup></span>
					</div>
				</div>
				<!-- /Progress Bar -->
                    
						<strong class="stats-count">17</strong>
						<strong class="stats-count second">20</strong>
                        
 						<a href="#" class="button stats-view tooltip" title="View new registrations">View</a>
					</li>
                    
                                       
 					<li>
                    
                    
               <p class="stat-title"> New Prospect: Account</p>     
 				<div class="progress-bar green medium individual-stat">
					<div style="width:100%;">
						 
					</div>
				</div>
				<!-- /Progress Bar -->


                    				<!-- Progress Bar -->
				<div class="progress-bar blue medium individual-stat">
					<div style="width:100%;">
						<span>100<sup>%</sup></span>
					</div>
				</div>
				<!-- /Progress Bar -->
                    
						<strong class="stats-count">17</strong>
						<strong class="stats-count second">20</strong>
                        
 						<a href="#" class="button stats-view tooltip" title="View new registrations">View</a>
					</li>
                    
                                                          
                                                                             
					 
				</ul>
				<!-- /Stats Summary -->


	 
				
			</section>
			
		</article>
        
        
        
 <article class="content-box minimizer col-3 salesboard-stat-block">
			<header>
				<h2 style="padding-right: 90px; "> Emailing</h2>
			<a href="#" class="content-box-minimizer" title="Toggle Content Block" style="display: block; left: 133.01851844787598px; ">Toggle</a></header>
			
			<!-- User Profile - vCard -->
			<section id="hcard-Kevin-Glenn-Bates"  style="display: block; ">
				
 


			
				<!-- Stats Summary -->
				<ul class="stats-summary">
                
                 
                <li class="first">
                
               <p class="stat-title header-title"> Goal</p>     

               <p class="stat-title header-title second"> Actual</p>     

                
                </li>               
                
                
                
					<li>
                    
                    
               <p class="stat-title"> New Email Sent</p>     
 				<div class="progress-bar green medium individual-stat">
					<div style="width:100%;">
						 
					</div>
				</div>
				<!-- /Progress Bar -->


                    				<!-- Progress Bar -->
				<div class="progress-bar red medium individual-stat">
					<div style="width:40%;">
						<span>80<sup>%</sup></span>
					</div>
				</div>
				<!-- /Progress Bar -->
                    
						<strong class="stats-count first">17</strong>
						<strong class="stats-count second">20</strong>
                        
 						<a href="#" class="button stats-view tooltip" title="View new registrations">View</a>
					</li>
                    
 
 					<li>
                    
                    
               <p class="stat-title"> Email Callback</p>     
 				<div class="progress-bar green medium individual-stat">
					<div style="width:100%;">
						 
					</div>
				</div>
				<!-- /Progress Bar -->


                    				<!-- Progress Bar -->
				<div class="progress-bar red medium individual-stat">
					<div style="width:40%;">
						<span>80<sup>%</sup></span>
					</div>
				</div>
				<!-- /Progress Bar -->
                    
						<strong class="stats-count">17</strong>
						<strong class="stats-count second">20</strong>
                        
 						<a href="#" class="button stats-view tooltip" title="View new registrations">View</a>
					</li>
                    
                                       
 					<li>
                    
                    
               <p class="stat-title"> Email Conversation</p>     
 				<div class="progress-bar green medium individual-stat">
					<div style="width:100%;">
						 
					</div>
				</div>
				<!-- /Progress Bar -->


                    				<!-- Progress Bar -->
				<div class="progress-bar blue medium individual-stat">
					<div style="width:100%;">
						<span>100<sup>%</sup></span>
					</div>
				</div>
				<!-- /Progress Bar -->
                    
						<strong class="stats-count">17</strong>
						<strong class="stats-count second">20</strong>
                        
 						<a href="#" class="button stats-view tooltip" title="View new registrations">View</a>
					</li>
                    
                                                          
                                                                             
					 
				</ul>
				<!-- /Stats Summary -->


	 
				
			</section>
			
		</article>
        
       
  
   
    
     
  <article class="content-box minimizer col-3 salesboard-stat-block">
			<header>
				<h2 style="padding-right: 90px; "> Tweeting</h2>
			<a href="#" class="content-box-minimizer" title="Toggle Content Block" style="display: block; left: 133.01851844787598px; ">Toggle</a></header>
			
			<!-- User Profile - vCard -->
			<section id="hcard-Kevin-Glenn-Bates"  style="display: block; ">
				
 


			
				<!-- Stats Summary -->
				<ul class="stats-summary">
                
                 
                <li class="first">
                
               <p class="stat-title header-title"> Goal</p>     

               <p class="stat-title header-title second"> Actual</p>     

                
                </li>               
                
                
                
					<li>
                    
                    
               <p class="stat-title"> Twitter New Tweet</p>     
 				<div class="progress-bar green medium individual-stat">
					<div style="width:100%;">
						 
					</div>
				</div>
				<!-- /Progress Bar -->


                    				<!-- Progress Bar -->
				<div class="progress-bar red medium individual-stat">
					<div style="width:40%;">
						<span>80<sup>%</sup></span>
					</div>
				</div>
				<!-- /Progress Bar -->
                    
						<strong class="stats-count first">17</strong>
						<strong class="stats-count second">20</strong>
                        
 						<a href="#" class="button stats-view tooltip" title="View new registrations">View</a>
					</li>
                    
 
 					<li>
                    
                    
               <p class="stat-title"> Twitter Callback</p>     
 				<div class="progress-bar green medium individual-stat">
					<div style="width:100%;">
						 
					</div>
				</div>
				<!-- /Progress Bar -->


                    				<!-- Progress Bar -->
				<div class="progress-bar red medium individual-stat">
					<div style="width:40%;">
						<span>80<sup>%</sup></span>
					</div>
				</div>
				<!-- /Progress Bar -->
                    
						<strong class="stats-count">17</strong>
						<strong class="stats-count second">20</strong>
                        
 						<a href="#" class="button stats-view tooltip" title="View new registrations">View</a>
					</li>
                    
                                       
 					<li>
                    
                    
               <p class="stat-title"> Twitter Conversation</p>     
 				<div class="progress-bar green medium individual-stat">
					<div style="width:100%;">
						 
					</div>
				</div>
				<!-- /Progress Bar -->


                    				<!-- Progress Bar -->
				<div class="progress-bar blue medium individual-stat">
					<div style="width:100%;">
						<span>100<sup>%</sup></span>
					</div>
				</div>
				<!-- /Progress Bar -->
                    
						<strong class="stats-count">17</strong>
						<strong class="stats-count second">20</strong>
                        
 						<a href="#" class="button stats-view tooltip" title="View new registrations">View</a>
					</li>
                    
                                                          
                                                                             
					 
				</ul>
				<!-- /Stats Summary -->


	 
				
			</section>
			
		</article>      
           
  
    
   <article class="content-box minimizer col-3 salesboard-stat-block">
			<header>
				<h2 style="padding-right: 90px; "> Meetings</h2>
			<a href="#" class="content-box-minimizer" title="Toggle Content Block" style="display: block; left: 133.01851844787598px; ">Toggle</a></header>
			
			<!-- User Profile - vCard -->
			<section id="hcard-Kevin-Glenn-Bates"  style="display: block; ">
				
 


			
				<!-- Stats Summary -->
				<ul class="stats-summary">
                
                 
                <li class="first">
                
               <p class="stat-title header-title"> Goal</p>     

               <p class="stat-title header-title second"> Actual</p>     

                
                </li>               
                
                
                
					<li>
                    
                    
               <p class="stat-title"> Meeting Scheduled</p>     
 				<div class="progress-bar green medium individual-stat">
					<div style="width:100%;">
						 
					</div>
				</div>
				<!-- /Progress Bar -->


                    				<!-- Progress Bar -->
				<div class="progress-bar red medium individual-stat">
					<div style="width:40%;">
						<span>80<sup>%</sup></span>
					</div>
				</div>
				<!-- /Progress Bar -->
                    
						<strong class="stats-count first">17</strong>
						<strong class="stats-count second">20</strong>
                        
 						<a href="#" class="button stats-view tooltip" title="View new registrations">View</a>
					</li>
                    
 
 					<li>
                    
                    
               <p class="stat-title"> Meeting Executed</p>     
 				<div class="progress-bar green medium individual-stat">
					<div style="width:100%;">
						 
					</div>
				</div>
				<!-- /Progress Bar -->


                    				<!-- Progress Bar -->
				<div class="progress-bar red medium individual-stat">
					<div style="width:40%;">
						<span>80<sup>%</sup></span>
					</div>
				</div>
				<!-- /Progress Bar -->
                    
						<strong class="stats-count">17</strong>
						<strong class="stats-count second">20</strong>
                        
 						<a href="#" class="button stats-view tooltip" title="View new registrations">View</a>
					</li>
                    
                                       
  
                                                          
                                                                             
					 
				</ul>
				<!-- /Stats Summary -->


	 
				
			</section>
			
		</article>        
          




  <article class="content-box minimizer col-3 salesboard-stat-block">
			<header>
				<h2 style="padding-right: 90px; "> Proposals</h2>
			<a href="#" class="content-box-minimizer" title="Toggle Content Block" style="display: block; left: 133.01851844787598px; ">Toggle</a></header>
			
			<!-- User Profile - vCard -->
			<section id="hcard-Kevin-Glenn-Bates"  style="display: block; ">
				
 


			
				<!-- Stats Summary -->
				<ul class="stats-summary">
                
                 
                <li class="first">
                
               <p class="stat-title header-title"> Goal</p>     

               <p class="stat-title header-title second"> Actual</p>     

                
                </li>               
                
                
                
					<li>
                    
                    
               <p class="stat-title"> Proposal Created</p>     
 				<div class="progress-bar green medium individual-stat">
					<div style="width:100%;">
						 
					</div>
				</div>
				<!-- /Progress Bar -->


                    				<!-- Progress Bar -->
				<div class="progress-bar red medium individual-stat">
					<div style="width:40%;">
						<span>80<sup>%</sup></span>
					</div>
				</div>
				<!-- /Progress Bar -->
                    
						<strong class="stats-count first">17</strong>
						<strong class="stats-count second">20</strong>
                        
 						<a href="#" class="button stats-view tooltip" title="View new registrations">View</a>
					</li>
                    
 
 					<li>
                    
                    
               <p class="stat-title"> Proposal Submitted</p>     
 				<div class="progress-bar green medium individual-stat">
					<div style="width:100%;">
						 
					</div>
				</div>
				<!-- /Progress Bar -->


                    				<!-- Progress Bar -->
				<div class="progress-bar red medium individual-stat">
					<div style="width:40%;">
						<span>80<sup>%</sup></span>
					</div>
				</div>
				<!-- /Progress Bar -->
                    
						<strong class="stats-count">17</strong>
						<strong class="stats-count second">20</strong>
                        
 						<a href="#" class="button stats-view tooltip" title="View new registrations">View</a>
					</li>
                    
                                       
  
                                                          
                                                                             
					 
				</ul>
				<!-- /Stats Summary -->


	 
				
			</section>
			
		</article>   



  <article class="content-box minimizer col-3 salesboard-stat-block">
			<header>
				<h2 style="padding-right: 90px; "> Deals</h2>
			<a href="#" class="content-box-minimizer" title="Toggle Content Block" style="display: block; left: 133.01851844787598px; ">Toggle</a></header>
			
			<!-- User Profile - vCard -->
			<section id="hcard-Kevin-Glenn-Bates"  style="display: block; ">
				
 


			
				<!-- Stats Summary -->
				<ul class="stats-summary">
                
                 
                <li class="first">
                
               <p class="stat-title header-title"> Goal</p>     

               <p class="stat-title header-title second"> Actual</p>     

                
                </li>               
                
                
                
					<li>
                    
                    
               <p class="stat-title"> Active </p>     
 				<div class="progress-bar green medium individual-stat">
					<div style="width:100%;">
						 
					</div>
				</div>
				<!-- /Progress Bar -->


                    				<!-- Progress Bar -->
				<div class="progress-bar red medium individual-stat">
					<div style="width:40%;">
						<span>80<sup>%</sup></span>
					</div>
				</div>
				<!-- /Progress Bar -->
                    
						<strong class="stats-count first">17</strong>
						<strong class="stats-count second">20</strong>
                        
 						<a href="#" class="button stats-view tooltip" title="View new registrations">View</a>
					</li>
                    
 
 					<li>
                    
                    
               <p class="stat-title"> Won </p>     
 				<div class="progress-bar green medium individual-stat">
					<div style="width:100%;">
						 
					</div>
				</div>
				<!-- /Progress Bar -->


                    				<!-- Progress Bar -->
				<div class="progress-bar red medium individual-stat">
					<div style="width:40%;">
						<span>80<sup>%</sup></span>
					</div>
				</div>
				<!-- /Progress Bar -->
                    
						<strong class="stats-count">17</strong>
						<strong class="stats-count second">20</strong>
                        
 						<a href="#" class="button stats-view tooltip" title="View new registrations">View</a>
					</li>
                    
 
                                       
  					<li>
                    
                    
               <p class="stat-title"> Lost </p>     
 				<div class="progress-bar green medium individual-stat">
					<div style="width:100%;">
						 
					</div>
				</div>
				<!-- /Progress Bar -->


                    				<!-- Progress Bar -->
				<div class="progress-bar red medium individual-stat">
					<div style="width:40%;">
						<span>80<sup>%</sup></span>
					</div>
				</div>
				<!-- /Progress Bar -->
                    
						<strong class="stats-count">17</strong>
						<strong class="stats-count second">20</strong>
                        
 						<a href="#" class="button stats-view tooltip" title="View new registrations">View</a>
					</li>
                    
                                                                                                                                                     
  
                                                          
                                                                             
					 
				</ul>
				<!-- /Stats Summary -->


	 
				
			</section>
			
		</article>  

		<div class="clearfix"></div> <!-- We're really sorry for this, but because of IE7 we still need separated div with clearfix -->
 
		
		<div class="clearfix"></div> <!-- We're really sorry for this, but because of IE7 we still need separated div with clearfix -->
	 
		
		 
		
	 
		
		<div class="clearfix"></div> <!-- We're really sorry for this, but because of IE7 we still need separated div with clearfix -->
 
		
		<div class="clearfix"></div> <!-- We're really sorry for this, but because of IE7 we still need separated div with clearfix -->
		 
		
	 

		<div class="clearfix"></div> <!-- We're really sorry for this, but because of IE7 we still need separated div with clearfix -->


		
		<div class="clearfix"></div> <!-- We're really sorry for this, but because of IE7 we still need separated div with clearfix -->
	
		
		<div class="clearfix"></div> <!-- We're really sorry for this, but because of IE7 we still need separated div with clearfix -->
	  
		
	 
	
	</section>
	<!-- /Main Content -->
	
	<!-- Main Footer -->
	<footer id="footer">
		<div class="page-wrapper">
			<section>
 				 	
				 
				
			</section>
			<section>
 				 
			</section>
			<section>
 				 
			</section>
		</div>
	</footer>
	<!-- /Main Footer -->
	
	<!-- Main Loading Notification -->
	<div class="loading-notification" style="display:none;">Loading&hellip;</div>
	<!-- /Main Loading Notification -->
	
	<!-- Sample Modal Window -->
	<div id="sample" class="modal-content">
		<h1>nyroModal</h1>
		<p>Ajax Call, Ajax Call with targeting content, Single Image, Images Gallery with arrow navigating, Gallery with any kind of content, Form, Form in iframe, Form with targeting content, Form with file upload, Form with file upload with targeting content, Dom Element, Manual Call, Iframe, Stacked Modals, Many embed element through Embed.ly API, Error handling, Modal will never goes outside the view port, Esc key to close the window, Customizable animation, Customizable look, Modal title.</p>
		<a href="http://nyromodal.nyrodev.com/" class="outside">http://nyromodal.nyrodev.com</a>
	</div>
	<!-- /Sample Modal Window -->

	<!-- JavaScript at the bottom for faster page loading -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
	<script>!window.jQuery && document.write(unescape('%3Cscript src="js/libs/jquery-1.5.1.min.js"%3E%3C/script%3E'))</script>
	<!--[if IE]><script src="js/jquery/excanvas.js"></script><![endif]--><!-- IE Canvas Fix for Visualize Charts -->

 

    <%= javascript_include_tag "libs/selectivizr.js", "jquery/jquery.visualize.js", "jquery/jquery.visualize.tooltip.js", "jquery/jquery.tipsy.js", "jquery/jquery.nyromodal.min.js", "jquery/jquery.wysiwyg.js", "jquery/jquery.datatables.js", "jquery/jquery.datepicker.js", "jquery/jquery.fileinput.js", "jquery/jquery.fullcalendar.min.js", "jquery/jquery.ui.totop.js", "jquery/jquery.ui.totop.js", "jquery/jquery.snippet.js", "jquery/jquery.muonmenu.js", "jquery/jquery.muonmenu.js", "script.js" %>

</body>
</html>


