

<!DOCTYPE html>
<html>
<!--[if IE]><![endif]-->
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="description" content="corporate, business software, app" />
<meta name="keywords" content="corporate, software, app, business, marketing, landing page, web marketing, internate marketing, seo"/>
<meta name="author" content="Tansh" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title> Salesboard</title>
<!-- Fav and touch icons -->
<link rel="shortcut icon" href="favicon.ico">
<link rel="apple-touch-icon" href="apple-touch-icon.png">

<!--google web font-->
<link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700|Lato:700,300,400' rel='stylesheet' type='text/css'>

<!--style sheets-->

<%= stylesheet_link_tag "style.css", "flexslider.css", "prettyPhoto.css", "bootstrap-buttons.css" %>


<!--jquery libraries / others are at the bottom-->


<%= javascript_include_tag "jquery-1.7.1.min.js", "modernizr-2.5.3.min.js" %>


</head>
<body style="background: url(../img/brillant.png) repeat top center;">

<!-- Header starts
================================================== -->
<header style="padding: 20px 0px;" id="header">
  <div class="container">
    <div class="row"> 
      
      <!--logo starts-->
      <div class="span4"> <a href="/"><img src="img/logo.png" width="220" height="50" alt="logo"></a> </div>
      <!--logo ends--> 
      
      <!--tab navigation starts-->
      <div class="span8">
        <div class="tabnav-wrapper">
          <ul  id="myTab" class="nav nav-tabs">
            <li class="active sliderTab"><a href="#home" data-toggle="tab">Home</a></li>
<!--
            <li><a href="#features" data-toggle="tab">Features</a></li>
            <li><a href="#shots" data-toggle="tab">Shots</a></li>
            <li><a href="#team" data-toggle="tab">Team</a></li>
            <li class="dropdown"> <a class="dropdown-toggle" data-toggle="dropdown" href="#"> Extras <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="index-var.html" target="_blank">Homepage variation</a></li>
                <li><a href="extra.html" target="_blank">Theme extras</a></li>
                <li><a href="#pricing"  data-toggle="tab">Internal link / Pricing</a></li>
              </ul>
            </li>
            <li><a href="#pricing" data-toggle="tab">Pricing</a></li>
-->

            <li><a href="#contact" class="omega" data-toggle="tab">Contact</a></li>
          </ul>
        </div>
      </div>
      <!--tab navigation ends--> 
      
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="span12">
      <div style="background: transparent;border: none;" class="box clearfix"> 


        <h1 style="color:#3B3B3B;font-size:34px;">

Sales Goal Setting and Personal Performance Tracking
</h1>
        <p style="font-size: 24px;" >  It's a web, Iphone, Ipad app that shows your progress against activity goals set by you </p>
      </div>
    </div>
  </div>
</div>

<!-- Header ends
================================================== --> 

<!-- content starts
================================================== -->
<div class="container">
  <div class="tab-content"> 
    
    <!-- ========== home section starts ========== -->
    <div class="tab-pane active fade in" id="home"> 
      
      <!--slider starts-->
      <div class="row">
        <div class="flexslider slider-text-image">
          <ul class="slides">
            
            <!--first slide starts
            <li>
              <div class="span6">
                <h1>Designed with love</h1>



                <ul class="checkmark">
                  <li>

<a href="#" class="btn-iphone" title="button"></a></li>
                </ul>
</div>              

<div class="span6"> <img src="img/preview/slider-img1.png" width="398" height="442" alt="slide-1"> </div>
            </li>
            
            <li>
              <div class="span6">
                <h1>Handcrafted design</h1>
                <p>Squarecut is an autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
                <ul class="checkmark">
                  <li>Cross browser compatibility</li>
                  <li>Round the clock reporting enim ad minim</li>
                </ul>
                <span class="highlight-grey"><img src="img/star-rating4.png" width="75" height="16" alt="rating">4 out of 5 ratings</span> </div>
              <div class="span6"> <img src="img/preview/slider-img2.png" width="398" height="442" alt="slide-2"> </div>
            </li>
            second slide ends--> 
            
            <!--third slide starts-->
            <li>
              <div class="span6">

<a href="#" style="font-size: 28px; width: 350px;" class="btn-large btn btn-the-salmon-dance-3" title="button">
Get on our Beta List

</a>
                <ul class="checkmark">


                  <li><p>Connect to Salesforce.com </p></li>

                  <li>
<img src="../img/salesforce.png" class="sales-force" />
</li>


                  <li>
<a href="#" class="btn-iphone" title="button"></a>
</li>
                </ul>
</div>
              <div class="span6"> <img src="img/preview/slider-img3.png" width="398" height="442" alt="slide-3"> </div>
            </li>
            <!--third slide ends-->
            
          </ul>
        </div>
      </div>
      <!--slider ends--> 
      
      <!--feature-bg-icon starts-->
      <div class="row feature-bg-icon">
        <div class="span4">
          <div class="icon-bg blue-bg"><img src="img/icons/icon-big-1.png" width="60" height="60" alt="icon"></div>
          <p><strong>App -</strong> Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.</p>
        </div>
        <div class="span4">
          <div class="icon-bg green-bg"><img src="img/icons/icon-big-2.png" width="60" height="60" alt="icon"></div>
          <p><strong>Made -</strong> Claritas est etiam processus dynamicus, qui nibh sequitur ut qui consuetudium mazim lectorum.</p>
        </div>
        <div class="span4">
          <div class="icon-bg red-bg"><img src="img/icons/icon-big-3.png" width="60" height="60" alt="icon"></div>
          <p><strong>Easy - </strong> molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eroset accumsan et iusto odio.</p>
        </div>
      </div>
      <!--feature-bg-icon ends--> 
    </div>
    
    <!-- ========== home section ends ========== --> 
    
    <!-- ========== features section starts ========== -->
    <div class="tab-pane fade in" id="features"> 
      
      <!--Desktop image, text, checkmark list starts-->
      <div class="row">
        <div class="span4"> <img src="img/preview/features-img1.png" width="300" height="260" alt="image" class="img-left"> </div>
        <div class="span8">
          <h3>A fully functional application is here</h3>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut qui facit eorum aliquip ex ea est etiam processus dynamicus, qui quam nunc putamus parum claram sequitur mutationem commodo consequat.</p>
          <!--list-->
          <div class="row">
            <div class="span4">
              <ul class="checkmark">
                <li>Tools anyone can use erat volutpat</li>
                <li>Bespoke admin interface diam nibh est etiam</li>
                <li>Easily ipsum dolor affordable</li>
              </ul>
            </div>
            <div class="span4">
              <ul class="checkmark">
                <li>Cross browser compatibility</li>
                <li>Round the clock reporting enim ad minim</li>
                <li>Unlock the possibilities est etiam</li>
              </ul>
            </div>
          </div>
          <!--list--> 
        </div>
        <div class="divider"></div>
      </div>
      <!--Desktop image, text, checkmark list starts--> 
      
      <!--feature-heading-icon starts-->
      <div class="row feature-heading-icon">
        <div class="span4">
          <h5><img src="img/icons/favorite_love.png" width="32" height="32" alt="icon">Unlock the possibilities</h5>
          <p>Eeifend option congue nihil id quod mazim placerat facer possim assum. Typi non habent claritatem insitam est usus .</p>
        </div>
        <div class="span4">
          <h5><img src="img/icons/smartphone_iphone.png" width="32" height="32" alt="icon">Bespoke admin interface</h5>
          <p>Eeifend option congue nihil imperdiet doming mazim placerat facer possim assum. Typi non habent claritatem insitam est usus legentis.</p>
        </div>
        <div class="span4">
          <h5><img src="img/icons/pie-chart_diagram.png" width="32" height="32" alt="icon">Cross browser compatibility</h5>
          <p>Option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam est usus legentis.</p>
        </div>
        <!--spacer-->
        <div class="spacer-30px"></div>
        <div class="span4">
          <h5><img src="img/icons/options.png" width="32" height="32" alt="icon">Tools anyone can use</h5>
          <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu  nisl ut feugiat nulla at vero.</p>
        </div>
        <div class="span4">
          <h5><img src="img/icons/shopping_cart.png" width="32" height="32" alt="icon">Easily affordable</h5>
          <p>Eeifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam est usus legentis.</p>
        </div>
        <div class="span4">
          <h5><img src="img/icons/tag_yellow.png" width="32" height="32" alt="icon">Round the clock reporting</h5>
          <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.</p>
        </div>
      </div>
      <!--feature-heading-icon ends--> 
      
    </div>
    <!-- ========== features section ends ========== --> 
    
    <!-- ========== shots section starts ========== -->
    <div class="tab-pane fade in" id="shots"> 
      
      <!--image gallery starts-->
      <div class="row">
        <div class="span12">
          <ul class="gallery-images">
            <li>
              <div class="thumb"><img src="img/preview/thumb-1.jpg" alt="image"><a href="img/preview/slider-img1.png" data-rel="prettyPhoto[gallery1]" title="This is title of image" class="zoom"></a></div>
            </li>
            <li>
              <div class="thumb"><img src="img/preview/thumb-2.jpg" alt="image"><a href="img/preview/slider-img2.png" data-rel="prettyPhoto[gallery1]" title="This is title of image" class="zoom"></a></div>
            </li>
            <li>
              <div class="thumb"><img src="img/preview/thumb-3.jpg" alt="image"><a href="img/preview/slider-img3.png" data-rel="prettyPhoto[gallery1]" title="This is title of image" class="zoom"></a></div>
            </li>
            <li class="omega">
              <div class="thumb"><img src="img/preview/thumb-4.jpg" alt="image"><a href="img/preview/slider-img1.png" data-rel="prettyPhoto[gallery1]" title="This is title of image" class="zoom"></a></div>
            </li>
            <li>
              <div class="thumb"><img src="img/preview/thumb-5.jpg" alt="image"><a href="img/preview/slider-img2.png" data-rel="prettyPhoto[gallery1]" title="This is title of image" class="zoom"></a></div>
            </li>
            <li>
              <div class="thumb"><img src="img/preview/thumb-6.jpg" alt="image"><a href="img/preview/slider-img3.png" data-rel="prettyPhoto[gallery1]" title="This is title of image" class="zoom"></a></div>
            </li>
            <li>
              <div class="thumb"><img src="img/preview/thumb-7.jpg" alt="image"><a href="img/preview/slider-img1.png" data-rel="prettyPhoto[gallery1]" title="This is title of image" class="zoom"></a></div>
            </li>
            <li class="omega">
              <div class="thumb"><img src="img/preview/thumb-8.jpg" alt="image"><a href="img/preview/slider-img2.png" data-rel="prettyPhoto[gallery1]" title="This is title of image" class="zoom"></a></div>
            </li>
          </ul>
        </div>
        <div class="divider"></div>
      </div>
      <!--image gallery ends--> 
      
      <!--features list starts-->
      <div class="row">
        <div class="span4">
          <h4>Awesome features</h4>
          <p>Eeifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam est usus legentis in iis qui facit eorum claritatem. Investigationes demons enim ad minim veniam, quis nostrud exerci tation.</p>
        </div>
        <div class="span8">
          <h4>Squarecut Quicknotes</h4>
          <div class="row">
            <div class="span4">
              <ul class="feature-list">
                <li><img src="img/icons/pencil_edit.png" width="32" height="32" alt="icon">Tools anyone can use</li>
                <li><img src="img/icons/user_friend.png" width="32" height="32" alt="icon">Bespoke admin interface</li>
                <li><img src="img/icons/tag_gray.png" width="32" height="32" alt="icon">Easily affordable</li>
              </ul>
            </div>
            <div class="span4">
              <ul class="feature-list">
                <li><img src="img/icons/star_2.png" width="32" height="32" alt="icon">Cross browser compatibility</li>
                <li><img src="img/icons/time_clock.png" width="32" height="32" alt="icon">Round the clock reporting</li>
                <li><img src="img/icons/unlock.png" width="32" height="32" alt="icon">Unlock the possibilities</li>
              </ul>
            </div>
          </div>
        </div>
        <!--features list ends--> 
        
      </div>
    </div>
    <!-- ========== shots section ends ========== --> 
    
    <!-- ========== team section starts ========== -->
    <div class="tab-pane fade in" id="team">
      <div class="row team"> 
        
        <!--member one starts-->
        <div class="span4">
          <div class="img-border clearfix"><img src="img/preview/member-1.jpg" alt="image"></div>
          <h5>Johney Harper</h5>
          <span class="desg">founder & CEO</span>
          <div class="divider-10px"></div>
          <ul class="team-social">
            <li><a href="#">Twitter: @j.harper /</a></li>
            <li><a href="#">Facebook /</a></li>
            <li><a href="#">Mail</a></li>
          </ul>
          <div class="divider-10px"></div>
          <p> Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla enim option.</p>
        </div>
        
        <!--member two starts-->
        <div class="span4">
          <div class="img-border clearfix"><img src="img/preview/member-1.jpg" alt="image"></div>
          <h5>Alizee Anderson</h5>
          <span class="desg">Business Development</span>
          <div class="divider-10px"></div>
          <ul class="team-social">
            <li><a href="#">Twitter: @Al.Anderson /</a></li>
            <li><a href="#">Linkedin /</a></li>
            <li><a href="#">Mail</a></li>
          </ul>
          <div class="divider-10px"></div>
          <p> Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.</p>
        </div>
        
        <!--member three starts-->
        <div class="span4">
          <div class="img-border clearfix"><img src="img/preview/member-1.jpg" alt="image"></div>
          <h5>John Doe</h5>
          <span class="desg">Marketing Executive</span>
          <div class="divider-10px"></div>
          <ul class="team-social">
            <li><a href="#">Twitter: @johbdoe /</a></li>
            <li><a href="#">Facebook /</a></li>
            <li><a href="#">Mail</a></li>
          </ul>
          <div class="divider-10px"></div>
          <p>Eeifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam.</p>
        </div>
      </div>
    </div>
    <!-- ========== team section ends ========== --> 
    
    <!-- ========== pricing section starts ========== -->
    <div class="tab-pane fade in" id="pricing">
      <div class="container">
        <div class="row"> 
          
          <!--table one starts-->
          <div class="span3">
            <div class="pricing">
              <table border="0">
                <thead>
                  <tr>
                    <th>Basic</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <td><a href="#" class="btn-grey">Buy Now</a></td>
                  </tr>
                </tfoot>
                <tbody>
                  <tr>
                    <td><ul>
                        <li>2 users per domain</li>
                        <li>Automated backups</li>
                        <li>Email support</li>
                        <li>CMS ready</li>
                        <li>1 GB hosting space</li>
                        <li>Automated backups</li>
                      </ul></td>
                  </tr>
                  <tr>
                    <td class="focus-td blue-td">for beginners<span>$49 / mo</span></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!--table one ends--> 
          
          <!--table two starts-->
          <div class="span3">
            <div class="pricing">
              <table border="0">
                <thead>
                  <tr>
                    <th>Silver</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <td><a href="#" class="btn-grey">Buy Now</a></td>
                  </tr>
                </tfoot>
                <tbody>
                  <tr>
                    <td><ul>
                        <li>2 users per domain</li>
                        <li>Automated backups</li>
                        <li>Email support</li>
                        <li>CMS ready</li>
                        <li>1 GB hosting space</li>
                        <li>Automated backups</li>
                      </ul></td>
                  </tr>
                  <tr>
                    <td class="focus-td green-td">blogger's delight<span>$99 / mo</span></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!--table two ends--> 
          
          <!--table three starts-->
          <div class="span3">
            <div class="pricing">
              <table border="0">
                <thead>
                  <tr>
                    <th>Unlimited</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <td><a href="#" class="btn-grey">Buy Now</a></td>
                  </tr>
                </tfoot>
                <tbody>
                  <tr>
                    <td><ul>
                        <li>2 users per domain</li>
                        <li>Automated backups</li>
                        <li>Email support</li>
                        <li>CMS ready</li>
                        <li>1 GB hosting space</li>
                        <li>Automated backups</li>
                      </ul></td>
                  </tr>
                  <tr>
                    <td class="focus-td red-td">economy plan<span>$149 / mo</span></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!--table three ends--> 
          
          <!--table four starts-->
          <div class="span3">
            <div class="pricing">
              <table border="0">
                <thead>
                  <tr>
                    <th>Gold</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <td><a href="#" class="btn-grey">Buy Now</a></td>
                  </tr>
                </tfoot>
                <tbody>
                  <tr>
                    <td><ul>
                        <li>2 users per domain</li>
                        <li>Automated backups</li>
                        <li>Email support</li>
                        <li>CMS ready</li>
                        <li>1 GB hosting space</li>
                        <li>Automated backups</li>
                      </ul></td>
                  </tr>
                  <tr>
                    <td class="focus-td cyan-td">heavy lifters<span>$249 / mo</span></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!--table four ends--> 
          
        </div>
      </div>
    </div>
    <!-- ========== pricing section ends ========== --> 
    
    <!-- ========== contact section starts ========== -->
    <div class="tab-pane fade in" id="contact">
      <div class="container">
        <div class="row"> 
          
          <!--contact form section starts-->
          <div class="span8">
            <h5>Get in touch</h5>
            <p>

Send us a message, we'd love to hear from you!
</p>
            <form  id="contactform" method="post" action="submit-form.php">
              <fieldset>
                <ul>
                  <li>
                    <label>Your Name (required)</label>
                    <input name="name"  type="text" placeholder="Name">
                  </li>
                  <li>
                    <label>Your Email (required)</label>
                    <input name="email"  class="required email" type="text" placeholder="Email">
                  </li>
                  <li>
                    <label>Subject</label>
                    <input name="subject" type="text" placeholder="Subject">
                  </li>
                  <li>
                    <label>Message</label>
                    <textarea  rows="6" name="message" id="message" class="required"  placeholder="Write Message Here"></textarea>
                  </li>
                  <li style="width: 100%;">
                    <input type="submit" value="Send Message" class="submit"/>
                  </li>
                  <li>
                    <div id="result"></div>
                  </li>
                </ul>
              </fieldset>
            </form>
          </div>
          <!--contact form section ends--> 
          
          <!--addrs, map, subscribe section starts-->
          <div class="span4">
            <h5>Contact info</h5>
            <div class="addrs">
              <table>
                <tbody>
                  <tr>
                    <th>Telephone :</th>
                    <td>+1 (88) 123-45-678</td>
                  </tr>
                  <tr>
                    <th>Mail :</th>
                    <td><a href="#">contact@salesboard.co</a><br/>
                  </tr>
                  <tr>
                    <th>Address :</th>
                    <td>Creek Blvd Moon City 12345, YO</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="spacer-30px"></div>
            
            <!--subscribe-->
            <h5>Subscribe to newsletter</h5>
            <p>
Subscribe to get the latest updates
</p>
            <form  class="subform1" method="post" action="subscribe-form.php">
              <fieldset>
                <ul>
                  <li>
                    <input name="email"  class="required email"type="text">
                  </li>
                  <li>
                    <input type="submit" value="Subscribe" class="sub-submit"/>
                  </li>
                  <li>
                    <div class="subresult1"></div>
                  </li>
                </ul>
              </fieldset>
            </form>
          </div>
          <!--addrs, map, subscribe section ends--> 
          
        </div>
      </div>
    </div>
    <!-- ========== contact section ends ========== --> 
    
  </div>
</div>
<!-- content ends
================================================== --> 

<!-- footer starts
================================================== -->
<footer id="footer">
  <div class="container">
    <div class="row"> 
      
      <!--small intro and copyright starts-->
      <div class="span7">
        <p>Squarecut is a responsive theme for software and apps. Enhanced with the latest eugiat nulla facilisis HTML5, CSS3 standards, jQuery with unique page layout.</p>
        <p class="copyright">Salesboard ©2013.</p>
      </div>
      <!--small intro and copyright ends--> 
      
      <!--contact info list starts-->
      <div class="span5">
        <h5>Get connected</h5>
        <ul>
          <li><img src="img/icons/icon-twitter.png" width="16" height="16" alt="icon"><a href="#">@salesboard</a></li>
          <li class="omega"><img src="img/icons/icon-phone.png" width="16" height="16" alt="icon"> +(12) 345 6789</li>
          <li><img src="img/icons/icon-facebook.png" width="16" height="16" alt="icon"> <a href="#"> /salesboard</a></li>
          <li class="omega"><img src="img/icons/icon-mail.png" width="16" height="16" alt="icon"> <a href="#">contact@salesboard.co</a></li>
        </ul>
      </div>
      <!--contact info list ends--> 
      
    </div>
  </div>
</footer>
<!-- footer ends
================================================== --> 

<!--other jqueries required--> 



<%= javascript_include_tag "bootstrap.js", "bootstrap-tab.js", "jquery.prettyPhoto.js", "jquery.flexslider-min.js", "jquery.validate.js", "jquery.form.js", "fitvids.js", "custom.js" %>


</body>
</html>

